:root{
    --game_title_colour: #C06749;
    --black_colour: rgb(31, 31, 31);
    --black_sec_colour: #333333;
    --gray_colour: #515151;
    --yellow_colour: #E4C596;
    --hover_colour: #ca5027;
    --input_colour: #FFECD0;
    --white_colour: #fff
}


html{
    font-size: 15px;
}

*{
    box-sizing: border-box;
}

h1, h2{
    text-align: center;
    margin:0;
    color: var(--gray_colour);
}

@font-face {
    font-family: cuphead-bold;
    src: url("./media/fonts/Alegreya_Sans_SC/AlegreyaSansSC-Bold.ttf");
}

@font-face {
    font-family: cuphead-medium;
    src: url("./media/fonts/Alegreya_Sans_SC/AlegreyaSansSC-Medium.ttf");
}

button{
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    line-height: normal;
    cursor: pointer;
    font-family: "cuphead-bold";
}

input:focus{
    outline: none;
}

input::placeholder{
    color: var(--black_sec_colour);
}

body{
    margin:0;
    font-family: "cuphead-bold";
    overflow: hidden;
}

#wrapper.page_animation::before{
    content: "";
    position: absolute;
    width: 140rem;
    height: 140rem;
    top:50%;
    left:50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 0 0 black;
    transition: box-shadow 3s ease-in-out;
    z-index: -1;
}

#wrapper.page_animation.new_z_index::before{
    z-index: 3;
}

#wrapper.page_animation.start::before{
    box-shadow: inset 0 0 0 120rem black;
}


#wrapper:has(#start_page){
    background-image: url("./media/images/background_login.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#start_page *{
    filter: blur(0.7px);
}

#start_page #game_name h1{
    font-size: 8rem;
    -webkit-text-stroke: 2px var(--black_colour);
    text-stroke: 2px var(--black_colour);
    color: var(--game_title_colour);
    word-spacing: 1.25rem;
}

#start_page #sub_title{
    font-size: 1.5rem;
    color: var(--gray_colour);
    animation: blink 2s infinite;
}

@keyframes blink{
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

#start_page img{
    position: absolute;
    width: 20rem;
}

#start_page img:first-of-type{
    width: 15rem;
    transform: translate(-15rem, -10rem);
}

#start_page img:last-of-type{
    width: 25rem;
    transform: translate(50rem, -4rem) scaleX(-1);
}


#wrapper:has(#login_page),
#wrapper:has(#register_page){
    background-image: url("./media/images/background_login.jpg");
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#login_page *,
#register_page *{
    filter: blur(0.5px);
}

#login_page .modal,
#register_page .modal{
    background-color: var(--yellow_colour);
    padding: 1rem;
    width: 27rem;
    border: 2px solid var(--gray_colour);
}

#login_page .title h2,
#register_page .title h2{
    font-size: 3rem;
    color: var(--black_colour);
    padding-bottom: 4rem;
}

#login_page .input_container,
#register_page .input_container{
    display: flex;
    flex-direction: column;
    gap:0.8rem;
}

#login_page .input_container input,
#register_page .input_container input{
    border: 1px solid var(--black_colour);
    height: 2.5rem;
    background-color: var(--input_colour);
    color: var(--black_colour);
    font-size: 1rem;
    text-indent: 10px;
}

#login_page .modal_content,
#register_page .modal_content{
    display: flex;
    flex-direction: column;
    padding: 4rem 2.5rem;
    border: 5px solid var(--gray_colour);    
    position: relative;
}

#login_page button#login,
#register_page button#register{
    margin-top:2rem;
    padding: 0.5rem 0;
    border: 1px solid var(--black_colour);
    background-color: var(--game_title_colour);
    font-size: 2rem;
    color: var(--input_colour);
}

#login_page button#back,
#register_page button#back{
    background-color: transparent;
    text-align: left;
    font-size: 1.5rem;
    padding: 0.5rem;
    position: absolute;
    line-height: 1;
    left:0;
    bottom: 0;
}



#wrapper:has(#menu_page){
    background-image: url("./media/images/background_login.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#menu_page *{
    filter: blur(0.7px);
}

#menu_page #menu_modal{
    border:2px solid var(--gray_colour);
    background-color: var(--yellow_colour);
    padding: 1rem;
}

#menu_page #menu_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 8rem;
    border: 5px solid var(--gray_colour);
}

#menu_page #menu_content button{
    font-size: 3rem;
    background-color: transparent;
}

#menu_page #menu_content button:hover{
    color: var(--hover_colour);
}

#wrapper:has(#game_page){
    min-height:100vh;
    display: flex;
    justify-content: center;

    background-image: url("media/images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#game_page{
    display: flex;
    flex-direction: column;
    margin:0 5%;
    position: relative;
}

#game_page #top_container{
    display: flex;
    padding:2rem 0;
    justify-content: space-between;
}

#game_page #timer{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

#game_page #bin{
    display: flex;
    justify-content: center;
}

#game_page #bin #bin_container{
    text-align: center;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    position: absolute;
    top:1rem;
    right: 0;
    background-color: var(--white_colour);
    width: 5rem;
    height: 5rem;

    background-image: url("./media/images/objects/bin.png");
    background-position: bottom;
    background-size: 80%;
    background-repeat: no-repeat;

    border-radius: 10px;
    border: 0.25rem solid var(--gray_colour);
}

#game_page #score_container{
    font-family: Arial, Helvetica, sans-serif;
    font-size:2rem;
    color: var(--white_colour);
}

#game_page #main_content{
    display: flex;
    gap: 5rem;
}

#game_page #inventory,
#game_page #prep_stations_container,
#game_page #bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#game_page #dining_room #trolls_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;
    width: 36rem;
}

#game_page #dining_room .troll{
    display: flex;
    flex-direction: column;
    border:2px solid var(--gray_colour);
    border-radius: 0.25rem;
    overflow: hidden;
}

#game_page #dining_room .troll .bork{
    background-image: url("./media/images/characters/troll_1.gif");
    background-size: 70%;    
}

#game_page #dining_room .troll:has(.bork) .troll_name{
    background-color: #48763A;   
}

#game_page #dining_room .troll .grug{
    background-image: url("./media/images/characters/troll_2.gif");
    background-size: 55%;     
}

#game_page #dining_room .troll:has(.grug) .troll_name{
    background-color: #FB802C;   
}

#game_page #dining_room .troll .snarg{
    background-image: url("./media/images/characters/troll_3.gif");
    background-size: 120%;    
}

#game_page #dining_room .troll:has(.snarg) .troll_name{
    background-color: #E23D29;   
}

#game_page #dining_room .troll .klog{
    background-image: url("./media/images/characters/troll_4.gif");
    background-size: 90%;     
}

#game_page #dining_room .troll:has(.klog) .troll_name{
    background-color: #2E3E70;   
}

#game_page #dining_room .troll .zorp{
    background-image: url("./media/images/characters/troll_5.gif"); 
    background-size: 65%;     
}

#game_page #dining_room .troll:has(.zorp) .troll_name{
    background-color: #8C5BD3;   
}

#game_page #dining_room .troll .frim{
    background-image: url("./media/images/characters/troll_6.gif");
    background-size: 105%;     
}

#game_page #dining_room .troll:has(.frim) .troll_name{
    background-color: #015E88;   
}

#game_page #dining_room .troll .grimm{
    background-image: url("./media/images/characters/troll_7.gif");
    background-size: 50%;     
}

#game_page #dining_room .troll:has(.grimm) .troll_name{
    background-color: #837CB4;   
}


#game_page #dining_room .troll .troll_name{
    padding: 0.5rem 0;
    background-color: #8C5BD3;
    text-align: center;
    color: var(--white_colour);
    font-size: 1.5rem;
}

#game_page #dining_room .troll > div:nth-child(2){
    width: 90%;
    height: 8rem;
    margin-top:0.5rem;
    margin-bottom: 0.5rem;
    align-self: center;

    background-position: center;
    background-repeat: no-repeat;
}

#game_page #dining_room .troll .ingredients_container{
    text-align: center;
    padding-bottom: 1rem;
    font-family: "cuphead-medium";
    font-size: 1.2rem;
} 

#game_page #bar #bar_stations_container{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

#game_page #bar #bar_stations_container .barStation{
    height: 9rem;
    width: 9rem;
    text-align: center;
    border-radius: 10px;
    border:0.25rem solid var(--gray_colour);

    background-image: url("media/images/objects/stone.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

#game_page #bar #bar_stations_container .barStation:has(.edible){
    box-shadow: inset 0 0 1rem 10rem rgba(0, 0, 0, 0.521);
    color: var(--white_colour);
}

#game_page #bar #bar_stations_container .destroyed{
    background-color: #E23D29;
}

#game_page #kitchen #prep_stations_container{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap:1rem;
}

#game_page #kitchen #prep_stations_container .station{
    height: 9rem;
    width: 9rem;
    text-align: center;
    border-radius: 10px;
    border: 0.25rem solid var(--gray_colour);
    background-position: center;
    background-size: 100%;
    overflow: hidden;
}

#game_page #kitchen #prep_stations_container .station span{
    padding-top:0.25rem;
}

#game_page #kitchen #prep_stations_container .station .edible,
#game_page #bar #bar_stations_container .barStation .edible{
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}

#game_page #kitchen #prep_stations_container .station:has(.edible){
    box-shadow: inset 0 0 1rem 10rem rgba(0, 0, 0, 0.521);
    color: var(--white_colour);
}

#game_page #kitchen #prep_stations_container .station:has(.edible) span{
    display: none;
}

#game_page #kitchen #prep_stations_container .station#grill{
    background-image: url("./media/images/objects/grill.png");
}

#game_page #kitchen #prep_stations_container .station#bake{
    background-image: url("./media/images/objects/oven.png");
    background-size: 90%;
}

#game_page #kitchen #prep_stations_container .station#fry{
    background-image: url("./media/images/objects/pan.png");
}

#game_page #kitchen #prep_stations_container .station#boil{
    background-image: url("./media/images/objects/pot.png");
    background-size: 90%;
}

#game_page #inventory #edibles_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:0.5rem;
    width: 100%;
}

#game_page #inventory #edibles_container > .edible{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid var(--gray_colour);
    border-radius: 5px;
    cursor: pointer;

    flex-basis: 10rem;
    padding:1.5rem 0.5rem;
}

#game_page .edible .ingredient{
    font-family: "cuphead-medium";
}

#game_page .progressBar{
    height: 10px;
    width: 100%;
    background-color: #ababab;
    border-radius: 3px;
    margin-top: 1rem;
}

#game_page .progress{
    height: 100%;
    width: 0;
    background-color: #6cb157;
    /* transition: all 1s linear; */
    border-radius: 3px;
}

#game_page .progress.rotting{
    background-color: red;
}

#game_page .progress.dispose{
    background-color: black;
}

#game_page #dining_room #trolls_container .troll,
#game_page #bar #bar_stations_container .barStation,
#game_page #inventory #edibles_container > div{
    background-color: #d6c6ae;
}


@media only screen and (max-width: 1600px) {
    html{
        font-size: 14px;
    }
}