html{
    font-size: 16px;
}

*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("./media/images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body:has(#start_game_button){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#wrapper{
    display: flex;
    flex-direction: column;
    gap:1rem;
    margin:0 2rem;
}

#start_game_button{
    padding:1rem 2rem;
    font-size: 2rem;
}

#timer{
    font-size: 2rem;
    text-align: center;
    padding:1rem 0;
    color: white;
}

#bin{
    display: flex;
    justify-content: center;
}

#bin #bin_container{
    padding:1.5rem 2rem;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

#bin #bin_container img{
    width: 90px;
}

#dining_room #trolls_container{
    display: flex;
    flex-wrap: wrap;
    gap:0.3rem;
}

#dining_room #trolls_container .troll{
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-basis: 10rem;
    padding:1.5rem 0;
}

#dining_room #trolls_container .troll img{
    height: 100px;
}

#bar #bar_stations_container{
    display: flex;
    gap:0.3rem;
}

#bar #bar_stations_container .barStation{
    flex-basis: 0;
    flex-grow: 1;
    padding: 1.5rem;
    text-align: center;
    height: fit-content;
}

#bar #bar_stations_container .destroyed{
    background-color: red;
}

#kitchen #prep_stations_container{
    display: flex;
    gap:0.3rem;
}

#kitchen #prep_stations_container .station{
    padding: 1.5rem;
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    height: fit-content;
}

#inventory #edibles_container{
    display: flex;
    flex-wrap: wrap;
    gap:0.3rem;
}

#inventory #edibles_container > div{
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-basis: 10rem;
    padding:1.5rem 0.5rem;
}

.progressBar{
    height: 10px;
    width: 100%;
    background-color: #ababab;
    border-radius: 3px;
    margin-top: 1rem;
}

.progress{
    height: 100%;
    width: 0;
    background-color: #00c281;
    /* transition: all 1s linear; */
    border-radius: 3px;
}

.progress.rotting{
    background-color: red;
}

.progress.dispose{
    background-color: black;
}

/* cards */
#bin_container,
#dining_room #trolls_container .troll,
#bar #bar_stations_container .barStation,
#kitchen #prep_stations_container .station,
#inventory #edibles_container > div{
    border-radius: 5px;
    background-color: white;
    opacity: 0.9;
}


@media only screen and (max-width: 1600px) {
    html{
        font-size: 14px;
    }
}